
.header {
    height: var(--header-height);
    z-index: 100;
    margin-bottom: var(--header-margin);
}

.brand {
    font-size: 18px;
}

.contentGap {
    gap: 40px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.link:hover {
    filter: brightness(75%);
}

.icon {
    width: 20px;
    aspect-ratio: 1;
    fill: white;
}

.button {
    font-size: 12px;
    gap: 7px;
    padding: 0 11px;
    height: 26px;
    border-radius: 15px;
    border: 1px solid var(--blue-color-1);
    color: white;
}

.button svg {
    width: 14px;
    aspect-ratio: 1;
    fill: white;
}

@media (max-width: 991px) {
    .brand {
        font-size: 16px;
    }

    .contentGap {
        gap: 25px;
    }

    .link {
        font-size: 11px;
    }

    .icon {
        width: 18px;
    }

    .button {
        font-size: 11px;
        padding: 0 9px;
        height: 22px;
    }

    .button svg {
        width: 12px;
    }
}

@media (max-width: 767px) {
    .link {
        display: none;
    }

    .icon {
        width: 20px;
    }

    .button {
        font-size: 12px;
        height: 24px;
    }

    .button svg {
        width: 14px;
    }
}

@media (max-width: 450px) {
    .contentGap {
        gap: 15px;
    }
}