
.wrapper {
    height: 40px;
    padding: 0 13px;
    border-radius: 8px;
    border: 1px solid var(--space-color-1);
    display: flex;
    align-items: center;
}

.wrapper input {
    width: 100%;
    font-size: 14px;
    color: black;
}

.wrapper input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .wrapper {
        height: 36px;
        padding: 0 10px;
        border-radius: 7px;
    }

    .wrapper input {
        font-size: 12px;
    }
}