
.head h1 {
    font-size: 28px;
}

.head p {
    font-size: 16px;
}

.head button {
    margin-left: 30px;
    gap: 9px;
    font-size: 16px;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background-color: var(--blue-color-1);
}

.head button svg {
    width: 20px;
    fill: white;
}

.list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    border: 1px solid var(--space-color-1);
    padding: 0 75px 0 20px;
    height: 120px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: white;
}

.item a:hover {
    filter: none !important;
}

.removeButton {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 34px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--foreground-color);
}

.removeButton svg {
    width: 28px;
    height: 28px;
}

.item img {
    height: 105px;
}

.item h2 {
    font-size: 15px;
    margin-left: 30px;
    max-width: 25%;
}

.article {
    margin-left: 25px;
    font-size: 12px;
    color: var(--blue-color-2);
}

.countControlWrapper {
    width: 110px;
    margin-left: 300px;
}

.countControlWrapper button {
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--foreground-color);
    padding: 0;
}

.countControlWrapper p {
    font-size: 24px;
}

.countControlWrapper button svg {
    fill: white;
    width: 18px;
}

.priceWrapper {
    margin-left: auto;
}

.priceWrapper p:nth-child(1) {
    font-size: 24px;
}

.priceWrapper p:nth-child(2) {
    font-size: 12px;
}

.headRightPart {
    margin-left: auto;
}

@media (max-width: 1399px) {
    .item h2 {
        max-width: 28%;
    }

    .countControlWrapper {
        margin-left: 150px;
    }
}

@media (max-width: 1199px) {
    .item h2 {
        font-size: 13px;
    }

    .countControlWrapper {
        width: 100px;
        margin-left: 50px;
    }
}

@media (max-width: 991px) {
    .head h1 {
        font-size: 24px;
    }

    .head p {
        font-size: 14px;
    }

    .head button {
        margin-left: 20px;
        font-size: 14px;
        height: 36px;
        width: 180px;
    }

    .head button svg {
        width: 18px;
    }

    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: 15px;
    }

    .item {
        flex-direction: column;
        padding: 15px;
        height: 370px;
        margin-top: 0;
    }

    .item h2 {
        margin-left: 0;
        text-align: center;
        max-width: 100%;
    }

    .item img {
        height: 150px;
        width: auto;
    }

    .article {
        margin-left: 0;
        margin-top: 10px;
    }

    .countControlWrapper {
        margin-left: 0;
        margin-top: auto;
    }

    .priceWrapper {
        margin-left: 0;
        margin-top: 8px;
        align-items: center;
    }

    .priceWrapper p:nth-child(1) {
        font-size: 21px;
    }

    .priceWrapper p:nth-child(2) {
        font-size: 11px;
    }
}

@media (max-width: 767px) {
    .priceWrapper p:nth-child(1) {
        font-size: 20px;
    }

    .priceWrapper p:nth-child(2) {
        font-size: 10px;
    }

    .article {
        margin-top: 5px;
    }
}

@media (max-width: 575px) {
    .item img {
        height: 135px;
    }
}

@media (max-width: 490px) {
    .item img {
        height: 120px;
        max-width: 100%;
    }

    .head {
        flex-direction: column;
    }

    .headRightPart {
        margin-left: 0;
        justify-content: space-between;
        margin-top: 20px;
        gap: 20px;
    }

    .head button {
        margin-left: 0;
    }

    .list {
        gap: 10px;
    }

    .item {
        padding: 10px;
        height: 340px;
        border-radius: 10px;
    }
}

@media (max-width: 400px) {
    .head h1 {
        font-size: 22px;
    }

    .headRightPart {
        margin-top: 12px;
    }

    .item h2 {
        font-size: 12px;
    }

    .countControlWrapper p {
        font-size: 22px;
    }

    .countControlWrapper button {
        width: 22px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--foreground-color);
        padding: 0;
    }

    .countControlWrapper button svg {
        fill: white;
        width: 16px;
    }

    .priceWrapper p:nth-child(1) {
        font-size: 18px;
    }

    .article {
        font-size: 10px;
    }
}

@media (max-width: 340px) {
    .priceWrapper p:nth-child(1) {
        font-size: 16px;
    }

    .priceWrapper p:nth-child(2) {
        font-size: 9px;
    }
}