
.text {
    margin-top: 17px;
    font-size: 16px;
}

.listBlock {
    margin-top: 25px;
}

.listBlock h3 {
    font-size: 16px;
}

.listBlock ul {
    list-style-type: none;
    padding: 0;
}

.listBlock ul li {
    margin-top: 17px;
    font-size: 14px;
    gap: 15px;
}

.listBlock ul li span {
    background-color: var(--foreground-color);
    width: 6px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.sectionForm {
    margin-top: 35px;
}

.partnerRegText {
    font-size: 18px;
    margin-bottom: 17px;
}

.form {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    gap: 20px;
}

.partForm {
    flex: 1 2;
}

.form div:nth-child(1) {
    gap: 12px;
}

.button {
    font-size: 16px;
    background-color: var(--foreground-color);
    color: white;
    border-radius: 8px;
    height: 40px;
}

.formImage {
    height: 90%;
    aspect-ratio: 1 !important;
    object-fit: contain;
}

.authButton {
    margin-top: 12px;
    font-size: 12px;
    color: var(--blue-color-1);
}

@media (max-width: 991px) {
    .text {
        font-size: 14px;
    }

    .listBlock h3 {
        font-size: 14px;
    }

    .partnerRegText {
        font-size: 16px;
        margin-bottom: 14px;
    }
}

@media (max-width: 767px) {
    .form {
        flex-direction: column-reverse;
    }

    .button {
        font-size: 14px;
        height: 36px;
    }
}