
.finderBlock {
    border: 1px solid var(--space-color-1);
    border-radius: 14px;
    padding: 14px;
    margin-bottom: 20px;
}

.finderBlock p {
    font-size: 14px;
}

.finderBlock button {
    border-radius: 10px;
    font-size: 14px;
    width: 200px;
    height: 34px;
    color: white;
    background-color: var(--red-color);
}

@media (max-width: 530px) {
    .finderBlock {
        padding: 10px;
        margin-bottom: 15px;
    }

    .finderBlock p {
        font-size: 12px;
    }

    .finderBlock button {
        border-radius: 8px;
        font-size: 12px;
        width: 130px;
        height: 30px;
    }
}

@media (max-width: 400px) {
    .finderBlock {
        padding: 8px;
        border-radius: 10px;
    }

    .finderBlock p {
        font-size: 10px;
    }

    .finderBlock button {
        border-radius: 6px;
        font-size: 10px;
        width: 110px;
        height: 26px;
    }
}