
.logoutButton {
    background-color: var(--red-color);
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 8px;
}

.profileInfo {
    gap: 24px;
    margin-top: 37px;
}

.profileInfo > div {
    column-gap: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.infoHead {
    font-size: 18px;
    margin-bottom: 13px;
}

.infoTextWrapper {
    border: 1px solid var(--space-color-1);
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 13px;
}

.infoTextWrapper > p {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.activityDescription {
    padding: 13px;
    height: auto;
}

.changeButton {
    color: var(--blue-color-1);
    font-size: 12px;
    margin-left: auto;
}

.changePassword {
    font-size: 16px;
    margin-left: 0;
    margin-top: 25px;
}

.orderHistory {
    margin-top: 40px;
}

.emptyOrderWrapper {
    height: 100px;
    font-size: 14px;
}

@media (max-width: 991px) {
    .profileInfo > div {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 24px;
    }
}

@media (max-width: 767px) {
    .profileInfo > div {
        row-gap: 18px;
    }

    .profileInfo {
        gap: 18px;
    }

    .infoHead {
        font-size: 16px;
        margin-bottom: 9px;
    }
}

@media (max-width: 575px) {
    .logoutButton {
        font-size: 14px;
        border-radius: 6px;
    }

    .changePassword {
        font-size: 14px;
        margin-top: 18px;
    }
}