
.form {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    gap: 20px;
}

.partForm {
    flex: 1 2;
}

.form div:nth-child(1) {
    gap: 12px;
}

.button {
    font-size: 16px;
    background-color: var(--foreground-color);
    color: white;
    border-radius: 8px;
    height: 40px;
}

.formImage {
    height: 90%;
    aspect-ratio: 1 !important;
    object-fit: contain;
}

.labelCheckbox {
    font-size: 14px;
    flex-wrap: wrap;
    text-wrap: nowrap;
}

.labelCheckbox input {
    margin-right: 8px;
}

.labelCheckbox a {
    color: var(--blue-color-1);
}

@media (max-width: 991px) {
    .labelCheckbox {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    @media (max-width: 767px) {
        .form {
            flex-direction: column-reverse;
        }

        .button {
            font-size: 14px;
            height: 36px;
        }
    }
}