
.VariantSelector {
    gap: 17px;
}

.title {
    font-size: 20px;
}

.labels {
    gap: 11px;
}

.label {
    cursor: pointer;
}

.label > div {
    gap: 12px;
}

.clue {
    font-size: 12px;
    color: var(--blue-color-2);
}

@media (max-width: 991px) {
    .VariantSelector {
        gap: 12px;
    }

    .labels {
        gap: 9px;
        font-size: 14px;
    }

    .title {
        font-size: 17px;
    }
}